



@font-face {
  font-family: "grave-med";
  src: url("../../../public/font/fonnts.com-Gravesend_Sans_Medium.otf") format("opentype");
  font-display: swap;
}


@font-face {
  font-family: "grave-light";
  src: url("../../../public/font/fonnts.com-Gravesend_Sans_Light.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "grave-bold";
  src: url("../../../public/font/fonnts.com-Gravesend_Sans_Bold.otf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: "nasa";
  src: url("../../../public/font/NASALIZA.TTF") format("truetype");
  font-display: swap;
}




.header-img{
  width: 6rem !important;
  margin-right: 1.5rem;
  height: auto;
  position: relative !important;
}

.navGroup {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 3rem;
  padding: 1px;
   z-index: 0;
            position: relative;
}

        .gradient-container {
            position: relative;
            border-radius: 3rem;
background: linear-gradient(
  to right,
  #d227fc 0%,
  rgba(0, 0, 0, 0) 30%,
  rgba(0, 0, 0, 0) 70%,
  #2c72ff 100%

);

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
           
        }

        .inner-content {
            width: 100%;
            height: 100%;
            font-family: grave-med;
            background: linear-gradient(
  to top,
  #000000 0%,
  rgb(0, 0, 0) 30%,
  rgb(0, 0, 0) 70%,
  #0E0216 100%

);
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            z-index: 0;
            position: relative;
        }

        

        .link {
            padding: 0.5rem 1.2rem;
            font-size: 15px;
        }



  @media (max-width: 600px) {
    
  }