.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 92%;
  /* max-width: 72rem; */
}

.navContainer {
  border-radius: 9999px;
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.navLinks {
  display: none;
  align-items: center;
  gap: 2rem;
}



.navLink {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: white;
}

.navLinkActive {
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  background: linear-gradient(to right, rgba(168, 85, 247, 0.2), rgba(59, 130, 246, 0.2));
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: 1px solid rgba(168, 85, 247, 0.3);
  text-decoration: none;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
  }
}